# Multimedia y Modelos Pesados
*.wav
*.webm
*.bin
dashboard/temp_audio/
temp_audio/
hf_dataset/
machine_learning/nllb_ct2/
machine_learning/whisper_ct2/

# Credenciales (SEGURIDAD CRITICA)
serviceAccountKey.json
proyectoyoltic-firebase-adminsdk-*.json
# Ignorar otros JSONs pero permitir los de Node
*.json
!package.json
!package-lock.json
!tsconfig.json
!next.config.json

.env
.env.local

# Desarrollo
node_modules
dashboard/.next
dashboard/out
.vscode
.idea
__pycache__
